#header {
    position: fixed;
top: 0;
min-height: 7px;
padding: 0px 20px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #eee;

    }
    section{
        padding: 60px;
    }
    .nav-link{
      align-items: right;
      margin-right: 20px;
      text-decoration: none;
    }
    img{
        width: 200px;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: left;
        text-align: center;
        margin-left: 20px;
    }
    #nav-bar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;

    }
    nav >ul{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    #hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    }

 /* Media query for small screen */
 @media screen and (max-width: 600px) {
    #nav-bar {
    flex-wrap: wrap;
    }
}
#Features{
    margin-top: 30px;
}
.grid{
    display: flex;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
  }
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
#How-It-Works > iframe{
    max-width: 560px;
    width: 100%;

}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.product > button{
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
.product > h2 {
    margin-top: 15px;
  }
  .product > ol {
    margin: 15px 0;
  }
.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    background-color: transparent;
    cursor: pointer;
}
.product > .level{
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.product > .btn{
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    }
    #Pricing{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    